@use 'style/ui/mixins.scss';

.search {
	--background-color: var(--color-gray-1);
	--border-color-standart: var(--color-gray-5);
	--border-color-hover: var(--color-gray-7);
	--border-color: var(--border-color-standart);
	--main-color: var(--color-gray-8);
	--placeholder-color: var(--color-gray-6);

	--hover-box-shadow: var(--color-gray-3);
	--focus-box-shadow: var(--color-gray-5);

	height: 40px;
	max-width: 690px;
	width: 100%;
	position: relative;

	@media screen and (max-width: 1100px) {
		max-width: 500px;
	}

	@media screen and (max-width: 850px) {
		max-width: 300px;
	}

	&:hover {
		.search--input {
			@include mixins.effect-style-elevation-1(var(--hover-box-shadow));
			--border-color: var(--border-color-hover);
		}
	}

	&--icon {
		width: 16px;
		position: absolute;
		top: 12px;
		left: 11px;

		fill: var(--main-color);
	}

	&--input {
		@include mixins.text-style-regular-16-px-24-px;
		outline: none; /* focus-visible remove default*/

		height: 100%;
		width: 100%;
		padding-left: 32px;

		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		border-radius: 2px;

		display: flex;
		align-items: center;

		color: var(--main-color);

		transition: border-color 0.1s, box-shadow 0.1s;

		&::placeholder {
			color: var(--placeholder-color);
		}

		&:focus-visible {
			@include mixins.effect-style-elevation-1(
				var(--focus-box-shadow) !important
			);

			--border-color: var(--border-color-standart) !important;
		}
	}
}
