@use '../ui/mixins';

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--wrapper {
		display: flex;
		align-items: center;
		column-gap: 36px;
	}

	&--menu {
		&-list {
			list-style: none;
			display: flex;
			column-gap: 15px;
		}

		&-item {
			@include mixins.text-style-roboto-regular-18-px-21-px;

			color: var(--color-gray-8);
		}

		&-link {
			text-decoration: none;
		}
	}
}
