@use 'style/ui/mixins.scss';

.logo {
	--color-logo: var(--color-gray-10);
	--color-logo-hover: var(--color-blue-7);
	--transtion-time: 0.15s;
	--logo-image-size: 32px;

	display: flex;
	align-items: center;

	column-gap: 12px;
	text-decoration: none;

	&:hover {
		--color-logo: var(--color-logo-hover);
	}

	&--image {
		width: var(--logo-image-size);
		height: var(--logo-image-size);
		fill: var(--color-logo);
		transition: fill var(--transtion-time) ease;
	}

	&--text {
		@include mixins.text-style-roboto-regular-15-px-20-px;
		color: var(--color-logo);
		transition: color var(--transtion-time);
	}
}
