.tableContentItemColor {
	color: #e879f9;
}

.addStudent {
	margin-top: 50px;

	display: flex;
	flex-direction: column;
}

.addStudentButton {
	padding: 8px 10px;
	max-width: 100px;
	font-size: 14px;
}
