.social {
	--social-icon-size: 25px;

	display: flex;
	column-gap: 20px;

	list-style-type: none;

	&--item {
		&-icon {
			max-width: var(--social-icon-size);
			max-height: var(--social-icon-size);
		}
	}
}
