.container {
	position: relative;
	display: block;
	margin: 0 auto;

	width: 800px;
	height: 500px;
}

.image {
	position: absolute;
	margin: 0 auto;

	transition: 0.2s all;

	width: 100%;
	height: 100%;
}

.code {
	margin-top: 30px;
	font-size: 18px;
	color: #52525b;
}

.firstImage {
	opacity: 1;
	z-index: 1;
}

.secondImage {
	z-index: -1;
}

.hidden {
	opacity: 0;
}
